.table{
    width: 100%;
    border: solid black 1px;
}

.title{
    background-color: black;
}

.even{
    background-color: aliceblue;
    color: black;
}

.odd{
    background-color: gray;
    color: black;
}